*, *::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Molen';
    src: local("Molen Surplus"),
        url("fonts/molen/molen-surplus.otf") format("opentype");
}

@font-face {
    font-family: 'Sprat Condensed Regular';
    src: local("Sprat Condensed Regular"),
        url("fonts/sprat-type-master/Sprat-type-master/Sprat-CondesedRegular.otf") format("opentype");
        /* url("fonts/sprat-type-master/Sprat-type-master/Sprat-CondensedBold.otf") format("opentype"); */
    
}

@font-face {
    font-family: 'Sprat Condensed Thin';
    src: url("fonts/sprat-type-master/Sprat-type-master/Sprat-CondensedThin.otf") format("opentype");
}

/* CSS HEX */
:root {
    --persian-orange: #CC9361ff;
    --bistre: #2C1D18ff;
    --bistre-2: #3A2B22ff;
    --van-dyke: #39302Aff;
    --van-dyke-2: #413833ff;
    --font: "Sprat Family";
    --timberwolf: #D1D7CEff;


    /* CSS HSL */
    --persian-orange: hsla(28, 51%, 59%, 1);
    --bistre: hsla(15, 29%, 13%, 1);
    --bistre-2: hsla(23, 26%, 18%, 1);
    --van-dyke: hsla(24, 15%, 19%, 1);
    --van-dyke-2: hsla(21, 12%, 23%, 1);

    /*Background 2*/
    --text: #3D2220;
    --background: #d2d8cf;
    --primary: #261818;
    --secondary: #7a6866;
    --accent: #301c1c;

    /* CSS HSL */
    --bistre-3: hsla(4, 31%, 18%, 1);
    --licorice: hsla(0, 26%, 15%, 1);
    --wenge: hsla(6, 9%, 44%, 1);
    --licorice-2: hsla(0, 23%, 12%, 1);
    --timberwolf: hsla(100, 10%, 83%, 1); 
}


html, body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    line-height: 1.5;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
    background-color: #0e0e0e;
    cursor: default;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

header {
    height: 6vmax;
    width: 100%;
    position: absolute;
    background: transparent;
}


nav {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    padding: 2vmax 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table, tr, td {
    width: 100%;
   border-collapse: initial; 
   background: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.scroll {
    overflow: scroll;
}

.background {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.background::before {
    background: url(images/nigerian-ashley-okoli-showing-off-grill.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    will-change: transform;
    z-index: -1;
}

.blur {
    opacity: .7;
    filter: blur(2px);
}

.loader {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #fefaf4;
    z-index: 10000;
    transition: .8s cubic-bezier(.4, 0, 0, 1);
    transition-property: opacity,visibility;
    opacity: 1;
    visibility: visible;
}

.preview-text {
    height: calc(5.5625vw);
    overflow: hidden;
}

.preview-page h1 {
    animation-name: loader_animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.preview {
    background-color: var(--persian-orange);
    color: var(--bistre);
    transition: transform .5s ease-in-out;
}

.preview-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Molen";
    min-height: 100svh;
    min-width: 100%;
}

.preview-page h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    font-family: "Molen";
}

.nav-content {
    display: none;
}

.wrapper {
    width: 100%;
}

.row {
    display: flex;
    gap: .5rem;
    align-items: center;
}

#carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    perspective: 1000px;    
}

.carousel-item {
    position: absolute;
    transform: translate3d(0, 0, -100px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.page {
    z-index: 1;
}

.current-page {
    z-index: 13;
}

.menu-btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: calc(2.67vw);
    left: calc(2.67vw);
    height: calc(6.67vw);
    margin-right: .5rem;
}

.menu-btn span {
    width: calc(6.67vw);
}

.menu-btn span {
    width: calc(4.67vw);
    height: 1px;
    transform: translateY(-50%);
    background-color: #d2d8cf;
    transition: .2s cubic-bezier(.4, 0, 0, 1);
    position: absolute;
    top: 30%; 
    bottom: unset;
    vertical-align: middle;
    
}

.menu-icon:before {
    position: absolute;
    width: calc(6.25520833vw);
    height: 1px;
    display: inline-block;
    border-radius: unset;
    top: calc(-2.3vw);
    background-color: #d2d8cf;
    opacity: 1;
    content: "";
    transition: .2s cubic-bezier(.4, 0, 0, 1);
    transition-property: transform, opacity;
}

.menu-icon:after {
    position: absolute;
    width: calc(3.25520833vw);
    height: 1px;
    border-radius: unset;
    display: inline-block;
    top: calc(2.3vw);
    background-color: #d2d8cf;
    opacity: 1;
    content: "";
    transition: .2s cubic-bezier(.4, 0, 0, 1);
    transition-property: transform, opacity;
}


.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0e0e0e;
    transform: translateX(-110%);
    z-index: 2000;
}

.menu-text {
    position: absolute;
    right: -25%;
    top: 0;
    font-family: "Orbitron";
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--timberwolf);
    font-size: 2rem;

}

.ul {
    display: flex;
    /* opacity: 0; */
    position: absolute;
    top: 0;
    left: 20%;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.ul li {
     margin: 1.3rem 0;
     z-index: 1000;
}

.ul li a {
    text-decoration: none;
    color: var(--timberwolf);
    transition: all 2s;
    font-family: "Sprat Condensed Regular";
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    mix-blend-mode: difference;
}

.portfolio {
    position: relative;
}

.portfolio::before {
    display: block;
    top: calc(1.3vw);
    width: calc(6.13333333vw);
    height: calc(6.66666667vw);
    line-height: calc(6.66666667vw);
    content: "";
    background-image: url(icons/login-button-light.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.port-and-shop {
    position: relative;
    display: flex;
    width: 100%;
    gap: calc(8.66666667vw);
    top: calc(1.3vw);
    left: calc(8.66666667vw + 4.67vw);

}

.shopping-bag {
    position: relative;
}

.shopping-bag::before {
    display: block;
    width: calc(6.13333333vw);
    height: calc(6.66666667vw);
    line-height: calc(6.66666667vw);
    content: "";
    background-image: url(icons/shoppingbag-light.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile, .shop {
    display: none;
}

.ashley-logo {
    content: "";
    width: calc(20.13333333vw);
    height: calc(8.66666667vw);
    line-height: calc(8.66666667vw);
    background-image: url(logos/ashley-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    right: 15%;
}

header {
    position: fixed;
    z-index: 1000;
}

.switch-menu {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;
}

.menu-content {
    color: #fefaf4;
    clip-path: inset(0 0 0 0 round 12px);
    background: rgba(29, 27, 27, 0.4);
    backdrop-filter: blur(.5rem);
    animation: width_animation 1s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
}

.menu-flex {
    display: flex;
    gap: 1.5rem;
    color: rgba(244, 240, 240, 1);
    min-width: 300px;
    align-items: center;
    justify-content: center;    
}

.menu-flex {
    line-height: 3rem;
}

.menu-flex li {
    font-size: .9rem;
    font-weight: 900;
    opacity: 1;
    padding: 2px 1.125rem 2px 1.125rem;
    cursor: pointer;
}


.nav-content li {
    position: relative;
}

.nav-content li:before {
    width: 0;
    color: #161616;
    background-color: white;
    overflow: hidden;
    position: absolute;
    content: "";
    transition: all 1s cubic-bezier(0.84, 0, 0.09, 0.99);
}

.nav-content li:hover:before {
    width: 100%;
}

.line {
    width: 100%;
    position: absolute;
    bottom: 25%;
    height: 3px;
    background-color:  rgba(244, 240, 240, 1);
    transform: translate(0px, 0px) scale(0.1342, 1);
    opacity: 0;
}

.background-about {
    background: var(--background);
    background-color: #D1D7CE;
    font-family: "Sprat Condensed Thin";
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.about-container {
    display: flex !important;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.about-left-cell {
    text-align: left !important;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.about-left-cell .about-quote {
    font-family: "Sprat Condensed Regular";
    color: black;
    text-transform: uppercase;
    font-size: 2.5rem;
    width: 90%;
    animation-name: fade_down_out;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1.8s;
    animation-fill-mode: forwards; 

}

.about-text {
    font-size: 1.125rem;
    font-family: "Sprat Condensed Regular";
    color: black;
    font-stretch: condensed;
    width: 90%;
    opacity: 0;
    display: none;
}

.fade-in {
    animation-name: fade_in_up;
    animation-duration: 1.25s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0;
    animation-fill-mode: forwards;
}

.about-right-cell {
    display: block;
    overflow: hidden;
    min-width: 100% ;
    min-height: 100vh;
    position: absolute;
}

.about-right-cell {
    background: url(images/background-one.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    filter: blur(9px);
}

.about-right-cell img {
    display: none;
}

.about-left-cell p {
    font-size: 1.5rem;
    font-weight: 500;
}

.brand-item {
    display: none;
}

.background-press {
    background: #161616;
    color: white;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.progress-bar {
    position: fixed;
    top: 8rem;
    left: 85%;
    content: "";
    background: rgba(255, 255, 255, 0.4);
    width: 1px;
    z-index: 1000;
}

.navigation-wrapper ul {
    margin-top: 5rem;
    margin-left: 3.75rem;
    margin-bottom: 12.5rem;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.navigation-item {
    display: block;
    user-select: none;
    margin: 3rem 0;
    width: fit-content;
}


.navigation-wrapper a {
    font-family: "Sprat Condensed Thin";
    font-weight: bold;
    font-size: 1.67rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.navigation-wrapper span {
    position: relative;
    display: block;
}

.navigation-item span:before {
    width: 0;
    color: white;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all .8s cubic-bezier(0.84, 0, 0.09, 0.99);
}

.navigation-item span:hover:before {
    width: 100%;
    max-width: fit-content;
}

.navigation-link {
    margin-bottom: 5rem;
}

@keyframes scale-animation {
    from {
        transform: scale(1);
        filter: blur(0);
    }

    to {
        transform: scale(.8);
        filter: blur(2px);
    }
}

@keyframes loader_animation {
    from {
        transform: translateY(-8vw);
        opacity: 1;

    }
    to {
        opacity: .9;
        transform: translateY(6vw);
    }
}

@keyframes width_animation {
    from {
        transform: scaleX(.2);
        opacity: 0;
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes fade_down_out {
    from {
        transform: scaleY(1);
        opacity: 1;
    }
    to {
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes fade_in_up {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@media only screen and (min-width: 43.75rem) {
    nav {
        padding: unset;
        width: 100%;
        align-items: center;
    }
    
    .nav-content {
        display: flex;
        margin: 0 auto;
        width: 100%;
        position: fixed;
        top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .nav-content ul {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .nav-content li {
        background: rgba(29, 27, 27, 0.8);
        text-transform: uppercase;
        padding: .5rem 1.5rem;
        cursor: pointer;
        border-radius: 1vmax;
        border: 1px solid #fefaf4;
        margin-right: .8rem;
        font-size: .8rem;
        letter-spacing: 2px;
        color: #fefaf4;
        font-family: 'Sprat Condensed Thin';
    }

    .menu-btn span {
        display: none;
    }

    .port-and-shop {
        position: absolute;
        left: unset;
        top: inherit;
        justify-content: end;
        gap: 1.5rem;
    }

  .portfolio::before, .shopping-bag::before {
    width: 28px;
    height: 30px;
    margin-right: calc(2.2vw);
  }

  .Profile, .shop {
    width: 0px;

  }

  .Profile span:hover , .shop span:hover {
    width: 100%;
    display: block;
    font-family: 'Sprat Family', sans-serif;
    font-weight: Thin;
    font-size: 12px;
    z-index: 2000;
    transition: all 1s cubic-bezier(0.84, 0, 0.09, 0.99);
  }

  .logo {
    display: block;
    position: absolute;
    left: calc(2.86458333vw);
    margin: 0;
    width: calc(8.8125vw);
    height: auto;
    opacity: 1;
    z-index: 13;
}

.logo, .port-and-shop {
    top: inherit;
}

  .ashley-logo {
    width: 120px;
    height: 50px;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .background-about {
    background-color: #0e0e0e;
  }

  .menu-flex {
    gap: 1.2rem;
    min-width: auto;
  }

  td {
    width: unset;
  }

  .about-left-cell .about-quote {
    width: 60%;
    font-size: 2.5rem;
    color: white;
  }

  .about-text {
    font-size: 1rem;
    color: var(--timberwolf);
    width: 60%;
  }

  .about-quote {
    width: 60%;
  }

  .about-left-cell, .about-right-cell {
    width: 100%;
  }

  .about-right-cell {
    position: relative;
    background: unset;
    min-width: auto;
    min-height: auto;
    filter: unset;
  }

  .about-right-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .about-right-cell image {
    width: 100%;
    height: 100%;
  }

  .about-right-cell img {
    display: block;
    width: 100%;
    height: 90vh;
    border-radius: 5%;
    transform: scale(0.75);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .about-right-cell:hover img {
    transform: scale(1.0);
    filter: grayscale(0.5) brightness(0.75);
  }

  .about-left-cell p {
    font-family: var(--font);
  }

.brand-item {
    display: block;
    position: absolute;
    left: 60%;
    bottom: 15%;
    max-width: fit-content;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Orbitron';
  }
  
  .brand-item a {
    text-decoration: none;
    max-width: fit-content;
  }

  .shape {
    width: 175px;
    height: 175px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.75);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 0 1vmax 1vmax 0;
    opacity: 0;
  }

  .about-right-cell:hover .shape {
    opacity: 1;
  }

  .navigation-wrapper ul {
    margin-top: 15rem;
    margin-left: 11.25rem;
    margin-bottom: 12.5rem;
  }

  .navigation-wrapper a {
    font-size: 5rem;
  }

  .navigation-item {
    margin: 7.5rem 0;
    }

    .progress-bar {
        top: 22rem;
    }

    .navigation-link {
        bottom: 12.5rem;
    }
}

@media only screen and (min-width: 44rem) and (max-width: 56.25rem) {
    .port-and-shop {
        top: 3vw;
    }

    .logo {
        top: unset;
    }

    .about-container {
        flex-wrap: wrap;
        flex-direction: column-reverse
    }

    .background-about {
        overflow: scroll;
    }
}